@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
    @apply flex justify-center items-center h-screen;
    @apply bg-skin-fill-container;
}

@layer base {
    :root {
        --color-text-base: white;
        --color-text-inverted: black;
        --color-fill: black;
        --color-fill-inverted: white;
    }

    .theme-light {
        --color-fill-container: #4338ca;
        --color-text-base: #4338ca;
        --color-text-inverted: white;
        --color-fill: white;
        --color-fill-inverted: #4338ca;
        --color-button-main: white;
        --color-button-main-hover: #818cf8;
        --color-button-main-active: #4338ca;
        --color-input-border: white;
    }

    .theme-dark {
        --color-text-base: white;
        --color-fill-container: white;
        --color-text-inverted: #4338ca;
        --color-fill: #4338ca;
        --color-fill-inverted: white;
        --color-button-main: #4338ca;
        --color-button-main-hover: #c7d2fe;
        --color-button-main-active: white;
        --color-input-border: #4338ca;
    }
}
